@charset "UTF-8";

/* 
  verde #49a09c
  lilas #5f2c82
*/

* {margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

:root{
  --cor1:#5f2c82;
  --cor2:#49a09c;
}

body,main{
  position: relative;
  background-color: var(--cor2);
  height: 100vh;
  width: 100vw;
 

}

main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
 
 
}

img{
  height: 25vh;
  width: 52vw;
  
  border-radius: 20px 20px 0px 0px;
  background:  center center  no-repeat ;
  background-size: cover;
  display: block;

}

#login{
  
  
  background-color: white;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 4px 6px 1px #00000087;
  width: 52vw;
}


#formulario{
  padding: 15px;
  
}

h1{
  text-align: center;
  padding-bottom: 15px;
}

#saudacao{
  font-size: 0.8em;
  text-align: justify;
}

.caixa{
  background-color: var(--cor1);
  margin: 5px 0px;
  border-radius: 5px;
  padding: 5px;
  
}


div > .material-symbols-outlined{
  
  color: white;
  display: inline-block;
  width: 30px;
  
}



.caixa > input{
  background-color: #66ece5c4;
  border: 0;
  height: 36px;
  border-radius: 5px;
  display: inline-block;
  width: calc(100% - 32px);
  transform: translateY(-2px);


}


form > input[type=submit] {
  background-color: #49a09c;
  display: block;
  width: 100%;
  height: 40px;
  border: 0;
  margin: 5px 0px;
  color: white;
  font-size: 1.05em;
  border-radius: 5px;

}

form > input[type=submit]:hover{
  background-color: #57c9c3;
}


form > a {
  display: block;
  color: #2a5754;
  text-decoration: none;
  text-align: center;
  border: 1px solid #33706d;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
}

form > a > .material-symbols-outlined{
  color:#49a09c;
  text-align: center;
  border-radius: 5px;
  font-size: 0.9em;
  
  
}


form > a:hover {
  background-color: #2a5754;
  color: white;
}